# Directories
/node_modules/
/dist/
/build/
/.venv/

# Environment-specific files
.env
.env.*
*.env

# IDE and editor files
.idea/
.vscode/
*.sublime-*
*.swp

# Dependency lock files
yarn.lock
package-lock.json

# Logs
logs/
*.log

# Compiled files
*.pyc
*.class
*.war
*.jar

# System files
.DS_Store
Thumbs.db

# Optional: Config files with sensitive information
config.ini
credentials.json
